localpv-provisioner:
  rbac:
    create: true

  hostpathClass:
    name: openebs-hostpath
    # Available reclaim policies: Delete/Retain, defaults: Delete.
    reclaimPolicy: Delete
    # If true, sets the openebs-hostpath StorageClass as the default StorageClass
    isDefaultClass: true

engines:
  local:
    lvm:
      enabled: true
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false
      
loki:
  enabled: false

alloy:
  enabled: false

preUpgradeHook:
  # -- Enable/Disable openebs pre-upgrade hook
  enabled: true
  # -- Node tolerations for server scheduling to nodes with taints
  ## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
  ##
  tolerations: []
  # -- Optional array of imagePullSecrets containing private registry credentials
  ## Ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  imagePullSecrets: []
  # - name: secretName
  # Labels to be added to the pod hook job
  podLabels:
    openebs.io/logging: "true"
  # This helps in debugging by leaving the Job/Pod instances lying around
  annotations:
    "helm.sh/hook-delete-policy": "hook-succeeded,before-hook-creation"
  image:
    # -- The container image registry URL for the hook job
    registry: docker.io
    # -- The container repository for the hook job
    repo: openebs/kubectl
    # -- The container image tag for the hook job
    tag: "1.25.15"
    # -- The imagePullPolicy for the container
    pullPolicy: IfNotPresent
