{{- if .Values.externalSecrets.dex.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "argo-cd.fullname" . }}-dex-credentials
  namespace: {{ include "argo-cd.namespace" . }}
  labels:
    {{- include "argo-cd.labels" (dict "context" . "component" "dex" "name" "dex-credentials") | nindent 4 }}
spec:
  secretStoreRef:
    name: {{ .Values.externalSecrets.dex.secretStore }}
    kind: {{ .Values.externalSecrets.dex.secretStoreKind }}

  target:
    name: {{ .Values.externalSecrets.dex.targetSecretName | default "argocd-secret" }}
    creationPolicy: {{ .Values.externalSecrets.dex.creationPolicy }}
    template:
      metadata:
        labels:
          app.kubernetes.io/name: argocd-secret
          app.kubernetes.io/part-of: argocd
      {{- if eq .Values.externalSecrets.dex.creationPolicy "Merge" }}
      engineVersion: v2
      mergePolicy: Merge
      {{- end }}

  dataFrom:
    - extract:
        key: {{ .Values.externalSecrets.dex.secretKey }}
{{- end }}
