# Default values for ojeomneo admin (Django)
replicaCount: 1
revisionHistoryLimit: 1

image:
  repository: ggorockee/ojeomneo-admin
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels:
  app: "ojeomneo-admin"

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 8000
  portName: "gunicorn"

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /admin/login/
    port: gunicorn
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /admin/login/
    port: gunicorn
    scheme: HTTP
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

startupProbe:
  httpGet:
    path: /admin/login/
    port: gunicorn
    scheme: HTTP
  initialDelaySeconds: 0
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 12

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}

configMap:
  enabled: true
  name: ""
  data:
    DJANGO_DEBUG: "False"

secret:
  enabled: true
  names:
    - ojeomneo-admin-credentials
    - ojeomneo-db-credentials
